### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data= pd.read_csv(file_to_load)
purchase_data_df=pd.DataFrame(purchase_data)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#creating a data frame and inputing total number of players
pd.DataFrame({"Total Players": purchase_data_df.SN.nunique()},index=[0])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#creating data frame with information asked for
df = pd.DataFrame(index=[0])
df['Number of Unique Items'] = purchase_data_df['Item ID'].nunique()
df['Average Price']= purchase_data_df.Price.mean()
df['Number of Purchases']= purchase_data_df.Price.count()
df['Total Revenue']= purchase_data_df.Price.sum()
df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#data frame of only gender, age, and SN
gender_df=purchase_data_df.loc[:,["SN", "Age", "Gender"]]
no_dup_gender=gender_df.drop_duplicates("SN")
no_dup_gender.count()

SN        576
Age       576
Gender    576
dtype: int64

In [5]:
#data frame with information asked for 
pd.DataFrame({'Total Count': no_dup_gender["Gender"].value_counts(),
              'Percentage of Players' : purchase_data_df["Gender"].value_counts(normalize=True)
    
})

                       Total Count  Percentage of Players
Male                           484               0.835897
Female                          81               0.144872
Other / Non-Disclosed           11               0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# group by variable 
grp_gender = purchase_data_df.groupby('Gender').Price

# numbers of players calculated too get avg total pirchase per person
players = purchase_data_df[['Gender','SN']].drop_duplicates().Gender.value_counts()

#creating the data frame and putting each of that stats asked for
pd.DataFrame({
    'Purchase Count': grp_gender.count(),
    'Average Purchase Price': grp_gender.mean(),
    'Total Purchase Value': grp_gender.sum(),
    'Avg Total Purchase per Person':grp_gender.sum()/players
})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# this is creating varaibles for bins
ageranges=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
Bins=[0,9,14,19,24,29,34,39,100]

#number of players per age range not including duplicates to get correct avg total purchase per person
grp_age_playercount=purchase_data_df.drop_duplicates("SN")
count_per_agegroup=grp_age_playercount.groupby('Age Ranges').count()

#this is creating bins
purchase_data_df['Age Ranges']=pd.cut(purchase_data_df['Age'], Bins,labels=ageranges,include_lowest=True)
purchase_data_df

KeyError: 'Age Ranges'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#variable for groupby for age 
grp_age=purchase_data_df.groupby('Age Ranges').Price

#number of players per age range not including duplicates to get correct avg total purchase per person
grp_age_playercount=purchase_data_df.drop_duplicates("SN")
count_per_agegroup=grp_age_playercount.groupby('Age Ranges').count()

#creating the data frame
pd.DataFrame({"Age Ranges": grp_age.count(),
              "Average Purchase Price":grp_age.mean(),
              "Total Purchase Value":grp_age.sum(),
              "Avg Total Purchase per Person":grp_age.sum()/count_per_agegroup['SN']
    
})

KeyError: 'Age Ranges'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# creating group by varible for SN
grp_SN=purchase_data_df.groupby('SN').Price 

#creating a data frame with asked for Data
pd.DataFrame({'Purchase Count':grp_SN.count(),
              'Average Purchase Price':grp_SN.mean(),
              'Total Purchase Value':grp_SN.sum(),
}).sort_values('Purchase Count', ascending= False).head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#groupby item id and count peritem
grpitems=purchase_data_df.groupby('Item ID').Price

# creating a dataframe that shows data asked for 
pd.DataFrame({'Item ID':purchase_data_df['Item ID'],
    'Item Name':purchase_data_df['Item Name'],
            'Purchase Count':grpitems.count(),  
              'Item Price':grpitems.mean(),
              'Total Purchase Value': grpitems.sum()
             }).sort_values('Purchase Count', ascending= False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#groupby item id and count peritem
grpitems=purchase_data_df.groupby('Item ID').Price

# creating a dataframe that shows data asked for 
pd.DataFrame({'Item ID':purchase_data_df['Item ID'],
    'Item Name':purchase_data_df['Item Name'],
            'Purchase Count':grpitems.count(),  
              'Item Price':grpitems.mean(),
              'Total Purchase Value': grpitems.sum()
             }).sort_values('Total Purchase Value', ascending= False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80